<html ng-app="myModule">
<head></head>
<body>
<div ng-controller = "myCtrl1"> 
    <script src="angular.min.js"></script>
	    <script src="checkfidrootscope.js"></script>


First Name: <input type="text" ng-model="name.fname" ng-change ="onfnameChange(fname)" required>
            Last Name: <input type="text" ng-model="name.lname" required>
            <button ng-click="search()">Send HTTP Request</button>
            <p>Searching for : {{name.fname}} {{name.lname}}</p>
            <p>Response Status: </p>
            <p>{{status}}</p>
            <p>Data: {{data}}</p><br>
            <p>Total number of results : {{data.numResults}}</p>
    
    <pre>fname: {{fname | json}}</pre>
    <pre>fname: {{lname | json}}</pre>
</div>
</body>
</html>

