
	<h1>Phone landing page controller</h1>
    <form name="form" novalidate>

	<br/><br/>
	<div>
			<div style="float:left;width:800px;">	
			<form validate>
				   <div my-customer></div>
<!--			       <my-customer></my-customer>
				   
				   				   <div my-customer></div> -->

					<div style="float:left;width:200px;"> hua bhai 
					<a href="#phones">Go {{customer.name}}to Phones check directives</a></div>
					<div style="float:left;width:100px;"> Cost <input name="costno" type="number"></div>
					<div style="float:left;width:100px;"> Quantity</div>
					<div style="float:left;width:100px;"> <input type="submit"></div>
			</form>
			</div>

	</div>
	</form>
	 