<html   ng-app="app">
  <head>
    <title></title>
    <script src="angular.min.js"></script>
	<script src="angular-route.js"></script>
    <script src="routing.js"></script>

  </head>
  <body  ng-controller="PhoneDetailCtrl">
    
	<h1>Phone controller</h1>
    <form name="form" novalidate>

	<br/><br/>
	<div>
			<div style="float:left;width:800px;">	
					<div style="float:left;width:200px;"> <a href="#">Back</a></div>
					<div style="float:left;width:100px;"> Cost</div>
					<div style="float:left;width:100px;"> Quantity</div>
					<div style="float:left;width:100px;"> Price</div>
			</div>

	</div>
	</form>
	  </body>
</html>